body{
    background-color: #c483d4;
}
div{
    background-color: white;
    margin-top: 0;
}
h1{
    font-size: 70px;
    color: #838fd4;
}
h4{
    font-size: 30px;
}
button{
    font-size: 30px;
}
#footerdiv{
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 2;
    font-size: 50px;
    text-shadow: 5px 5px 5px grey;
}